@keyframes flash {
  from {background-color: #fff200;}
  to {background-color: #fffa65;}
}
.flash {
  color: #000;
  border-color: #fffa65;
  animation-name: flash;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
.table-cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.mainApp{
  min-height: 100vh;
  display: table;
}
.paddingbottom-40{
  padding-bottom: 40px;
}
.questionlist{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
}
.questionlist .question-list{
  min-height: 100vh;
  margin: 0;
}
.container{
  position: relative;
  max-width: 560px;
}
.navbar-toggler{
  background: #f1f1f1;
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}
.navbar-toggle .icon-bar{
  background: #5f5f5f;
  margin: auto;
}
.navbar-light .navbar-toggler{
  outline: none;
}
@media (min-width: 768px){
  .navbar-toggle {
    display: block;
  }
}